*{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
    background-image: url("background.webp");
    background-size: cover;

}

.actionbutton{
    color: white;
    border-radius: 5px;
    
}
i.actionbutton{ cursor: pointer;}

.savebutton{
    position: fixed; 
    top: 20px;   
    left: 30px;
    width: 150px;
    color: white;
    height: 45px;
    border-radius: 10px;
    line-height: 45px;
    background-color: #28a745;
    cursor: pointer;   
    
}
.logoutbutton{
    position: fixed; 
    top: 20px;   
    right: 30px;
    width: 150px;
    color: white;
    height: 45px;
    border-radius: 10px;
    line-height: 45px;
    cursor: pointer;   
    
}

#saveicon{
    width: 30px;
    margin-left: 15px;
    margin-right: 10px;
}
.cw100{
    width: 100px;
}
.cw150{
    width: 150px;
}
.cw200{
    width: 200px;
}
.cw250{
    width: 250px;
}
.cw350{
    width: 350px;
}
.cw400{
    width: 400px;
}
.cw450{
    width: 450px;
}
.cw500{
    width: 500px;
}

#targettable{
    width: 90vw;
    margin: auto;    
    height: 85vh;
    overflow: auto;
    background-color: rgba(255, 255, 255,0.5);
}
.containertable{
    width: 100%;
    
    
}
.etheader{
    background-color: rgb(0, 123, 255);
    color: white;
    border-radius: 4px;
    text-align: center;
}
.etitem{
    background-color: rgba(0, 0, 0,0.05);    
    border-radius: 2px;
    text-align: center;
    text-overflow:clip;
    margin-top: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    
}
.row{
    overflow:visible;
    white-space: nowrap;
}
.col{
    display: inline-block;
}
.deletebutton{
    background-color: #dc3545;
    padding: 3px;
    border-radius: 2px;
}
.editselect select{
    width: 80%;
    text-align: center;
}
.etitem input{
    width: 95%;
    text-align: center;
}
.edited{
    color: rgb(0, 123, 255); 
}
.edited *{
    color: rgb(0, 123, 255); 
}
.editcheck.edited{
    background-color: rgba(0, 123, 255,0.5);
    
}
.savebutton{
    position: absolute;
    top: 77px;
    left: 15px;
    width: 45px;
    height: 45px;
    background-size: contain;
}
.savebutton:hover{
    box-shadow: rgba(0, 123, 255,0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}
.homebutton{
    position: absolute;
    top: 77px;
    left: 15px;
    width: 45px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
}
.homebutton:hover{
    box-shadow: rgba(0, 123, 255,0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}
.addbutton{
    position: absolute;
    top: 77px;
    left: 75px;
    width: 45px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
}
.addbutton:hover{
    box-shadow: rgba(0, 123, 255,0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}

.pastebutton{
    position: absolute;
    top: 77px;
    left: 135px;
    width: 45px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
}
.pastebutton:hover{
    box-shadow: rgba(0, 123, 255,0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}

.additem{
    background-color: rgba(114, 233, 177, 0.75);    
    border-radius: 2px;
    text-align: center;
    text-overflow:clip;
    margin-top: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.additem input{text-align: center;}
.floppybutton{
    background-color: #28a745;
    padding: 3px;
    border-radius: 4px;
}
.navbarlite{
    width: 100%;
    background-color: #2b2bc1;
    height: 62px;
    
}
.titleh1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.logodiv{
    background-image: url("logo_gradient.png");
    background-size: contain;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    position: relative;
    top: 8px;
    width:  33px;
    height: 33px;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}
.logoscritta{
    display: inline-block;
    line-height: 62px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    position: absolute;
    top: 0;
    
}
.logoscritta:hover{
    /* color: #9AFAF1; */
    background: linear-gradient(128deg, rgba(36,188,227,1) 0%, rgba(107,138,188,1) 100%);
    -webkit-background-clip: text;
    color: transparent;            
    cursor: pointer;
    }

.userinfo{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#logoutbutton{
    color: white;
    background-color: #dc3545;
    min-width: 150px;
    line-height: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 10px;
}