@import url('https://fonts.cdnfonts.com/css/swis721-bt');
*{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
.invisible{
    display: none;
}
/* body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
    background-image: url("background.webp");
    background-size: cover;

} */

.actionbutton{
    background-color: rgb(0, 123, 255);
    color: white;
    border-radius: 5px;
    font-size:12px;
    padding: 2px 0 2px 0;
    margin: 0 2px 0 2px;
    max-height: 12px;
    
}
i.actionbutton{ cursor: pointer;}

.savebutton{
    position: fixed; 
    top: 20px;   
    left: 30px;
    width: 150px;
    color: white;
    height: 45px;
    border-radius: 10px;
    line-height: 45px;
    background-color: #28a745;
    cursor: pointer;   
    
}
.logoutbutton{
    position: fixed; 
    top: 20px;   
    right: 30px;
    width: 150px;
    color: white;
    height: 45px;
    border-radius: 10px;
    line-height: 45px;
    cursor: pointer;   
    
}

#saveicon{
    width: 30px;
    margin-left: 15px;
    margin-right: 10px;
}
.cw50{
    width: 50px;
}
.cw75{
    width: 75px;
}
.cw100{
    width: 100px;
}
.cw150{
    width: 150px;
}
.cw200{
    width: 200px;
}
.cw250{
    width: 250px;
}
.cw300{
    width: 300px;
}
.cw350{
    width: 350px;
}
.cw400{
    width: 400px;
}
.cw450{
    width: 450px;
}
.cw500{
    width: 500px;
}
.cw550{
    width: 550px;
}
.cw950{
    width: 950px;
}

#targettable{
    width: 90vw;
    /* margin: auto;    */
    margin-left: calc(50px + 0.5 * (10vw - 60px));
    max-height: 70vh; 
    
    /* height: 85vh; */
    
    overflow: auto;
    background-color: rgba(255, 255, 255,0.5);
}
@media screen and (max-height: 850px) and (min-height: 750px) {
    #targettable{
        max-height: 65vh; 
    }
}
@media screen and (max-height: 749px) {
    #targettable{
        max-height: 55vh; 
    }
}
.containertable{
    width: 100%;
    
    
}
.offsetvertical{
    margin-top: 75px;
    
}
.text-center{
    text-align: center;
}
#targettable .row{
    height: 25px;
    margin: 4px 2px 4px 2px;
    width: fit-content;
    
}
#targettable .rowbulk{
    min-height: 50px;
    margin: 4px 0px 4px 0px;
    padding: 8px 0px 8px 0px;
    width: fit-content;
    overflow:visible;
    
    
}
#targettable .row:not(.headerrow):hover::before,#targettable .rowbulk:not(.headerrow):hover::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fe7aff;
    border-radius: 3px;
  }
/* #targettable .row:hover{
    margin: calc(default_margin - 2px);
    border: 2px solid rgb(0, 123, 255);
} */
.etheader{
    font-size: smaller;
    font-weight:  lighter;
    background-color: rgb(0, 123, 255);
    color: white;
    border-radius: 4px;
    text-align: center;
    font-family: Arial;
    padding-top: 4px;
    padding-bottom: 4px;
    
}
.etitem{
    background-color: rgba(0, 0, 0,0.05);  
    max-height: 25px;  
    border-radius: 2px;
    text-align: center;
    text-overflow:clip;    
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    bottom: 17px; 
    font-size: smaller;
    font-family: Arial;
    
}
.etitembulk{
    background-color: rgba(0, 0, 0,0.05);  
    /* height: max-content; */
    border-radius: 2px;
    text-align: center;
    padding: 3px 0 3px 0;
    line-height: 50px;
    height: 90%;
    font-size: smaller;
    font-family: Arial;
    
    word-wrap: break-word;
}





.row{
    overflow:visible;
    white-space: nowrap;
}
.col{
    display: inline-block;
}
.deletebutton{
    background-color: #dc3545;
    
}

.editselect select{
    width: 100%; 
    
    text-align: center;
    font-size: small;
    height: 22px;
    z-index: 200;
}
.etitem:has(select){
    height: 5px;
    background-color: transparent;
}
.etitem input{
    width: 95%;
    text-align: center;
}
.etitem select:disabled{
    opacity: 1;
    
}

.edited{
    color: rgb(0, 123, 255); 
}
.edited *{
    color: rgb(0, 123, 255); 
}
.editcheck.edited{
    background-color: rgba(0, 123, 255,0.5);
    
}
.savebutton{
    position: absolute;
    top: 77px;
    left: 15px;
    width: 45px;
    height: 45px;
    background-size: contain;
}
.savebutton:hover{
    box-shadow: rgba(0, 123, 255,0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}
.homebutton{
    position: absolute;
    top: 77px;
    left: 15px;
    width: 45px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
}
.homebutton:hover{
    box-shadow: rgba(0, 123, 255,0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}
.addbutton{
    position: absolute;
    top: 20px;
    left: 85px;
    width: 45px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
}
.addbutton:hover{
    box-shadow: rgba(0, 123, 255,0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}

.pastebutton{
    position: absolute;
    top: 77px;
    left: 135px;
    width: 45px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
}
.pastebutton:hover{
    box-shadow: rgba(0, 123, 255,0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}

.additem{
    
    border-radius: 2px;
    text-align: center;
    text-overflow:clip;
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    
    
}
.additem select, .additem input[type=text]{
    background-color: rgba(114, 233, 177, 0.75);    
    
}
.bomrow .etitem{
position: relative;
top: 0px;
font-family: "Roboto", sans-serif;
}
.text-primary{
    color: rgb(0, 123, 255);
    font-weight: bold;
}
.additem input{text-align: center;}
.floppybutton{
    background-color: #28a745;
    padding: 3px;
    border-radius: 4px;
}
.navbarlite{
    width: 100%;
    background-color: #2b2bc1;
    height: 62px;
    
}
.titleh1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.logodiv{
    background-image: url("logo_gradient.png");
    background-size: contain;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    position: relative;
    top: 8px;
    width:  33px;
    height: 33px;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}
.logoscritta{
    display: inline-block;
    line-height: 62px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    position: absolute;
    top: 0;
    
}
.logoscritta:hover{
    /* color: #9AFAF1; */
    background: linear-gradient(128deg, rgba(36,188,227,1) 0%, rgba(107,138,188,1) 100%);
    -webkit-background-clip: text;
    color: transparent;            
    cursor: pointer;
    }

.userinfo{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#logoutbutton{
    color: white;
    background-color: #dc3545;
    min-width: 150px;
    line-height: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    border-radius: 10px;
}
#logoutbutton:hover{
    background-color: #f96d4b;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.logobuffering{

    width: 125px;
    height: 125px;
    background-image: url("logo.png");
    background-size: contain;
    position: fixed;
    left: 47.5%;
    top: 45%;
    
    animation: rotate 2s cubic-bezier(0.25, 0.1, 0.25, 0.6) infinite;
}

.blurredcontainer{
    width: 50vw;
    height: 50vh;
    position: fixed;
    bottom: 25vh;
    left: 25vw;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 7%, rgba(255,255,255,0) 30%);
    
}

.manuallink{
    color: #2b2bc1;
    text-decoration: underline;
    cursor: pointer;
}
.certificatebutton{
    cursor: pointer;
    background-color: rgb(226,104,227);
    color: white;
    width: 60px;
    height: 18px;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    padding: 2px 8px 2px 8px;
    font-size: 10px;
    letter-spacing: 2px;
    font-family: 'Swis721 BT', sans-serif;
                                                
}
