@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-image: url("background.webp");
    background-size: cover;
}

.dash{
    width: 100vw;
    margin-top: 25px;
    background-color: rgba(0,0,0,0);
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.dashelement{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 350px;
    width: 350px;
    background-color: #2b2bc1;
    color: white;
    margin: 20px;
    font-size: 20px;
}
.dashelement img{
    width: 100px;
    margin: 15px;
}
.dashelement:hover{
    box-shadow: 0px 0px 15px 10px #9A9AF3;
    
}
.dashelement a{

    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}


.dashelement:hover .colorchanging {
    color: #9AFAF1;
}
.usermenu{
    background-color: #2b2bc1;
    color: white;
    width: 250px;
    position: absolute;
    right: 0;
    top:60px;
    z-index: 1000;
    
}
.usermenuitem{
    border: 1px solid white;
    width: 250px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}
.usermenu a{
    color: white;
    margin-right: 10px;

}
.resultbanner{
    width: 100%;
    text-align: center;
    font-size: small;
    color: lightskyblue;
    font-style: italic;
}
.coloredsection{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    color: white;
}
.add_button a{
    text-decoration: none;
    color: white;
    }
.add_button{
    position: absolute;
    right: -5px;
    background-color: #0d6efd;
    box-shadow: 5px 5px #E0E0E0;
    bottom: -5px;
    padding: 8px;
    /* border-radius: 5px; */
}
.add_button:hover{
    box-shadow: 5px 5px #888888;
    background-color: #2b2bc1;
    cursor:pointer;

}
.dashboard{
    position: relative;
}

.bomcontainer{
    width: 50vw;
    
    background-color:#0d6efd;
    min-height: 200px;
}
.wipicon{
    position:absolute;
    width:10px;
    top:-30px;
    right:-30px;
    rotate: 10deg;
}

.addheader{
    padding:7px;
    background-color: #0d6efd;
    color:white;
    border-radius:5px;
    text-decoration:none;
    cursor:pointer;
    margin-top:25px;
}

.addheader:hover{
    color:white;
}

.btnsmall{
    width:25px;
    cursor: pointer;
}
.csvbutton{
    position: absolute;
    bottom: 44px;
    right:5px;
}
.editbutton{
    position: absolute;
    bottom: 44px;
    right:75px;
}
.prevbutton{
    position: absolute;
    bottom: 14px;
    left:10px;
}
.nextbutton{
    position: absolute;
    bottom: 14px;
    left:45px;
}


.clipboardbutton{
    position: absolute;
    bottom: 44px;
    right:40px;
}

.rotating{
    animation: rotation 1s 2 ease-out;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  

.hover-message:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #0d6efd;
    color: white;
    padding: 3px;
    border-radius: 5px;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.suggestionbox{
    background-color:#2b2bc1;
    color: white;
    position: absolute;
    top:25px;
}
.inputcont{
    position:relative;
}

form.searchform{
    margin-top:0px;
    position: relative;
    top: 50%;
    left: 49%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 25px;
    border: 0px solid white;
    padding: 5px;
}

input.searchinput{
    color: #888888;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 20px 20px;
    border: 1px solid #EBEDEF;
}

.fa.searchfa{

    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: -20px;
    border-radius: 50%;
    color: white;
    background-color:#F5B041 ;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form.searchform:hover,
form.searchform:valid{
    width: 200px;
    cursor: pointer;
}

form.searchform:hover input.searchinput,
form.searchform:valid input.searchinput{
    display: block;
}


.dash.searchable{    
    margin-top:40px;
}
.thin{
    max-height: 20px;
}
.pagelabel{
    position: absolute;
    bottom: 42px;
    color: #F5B041;
    left:12px;
    font-size: small;
}
.searchbox{

position:absolute;
left:185px;
top: 35px;
width:200px;
}
@media (max-width: 1299px) {
  .searchbox {
    display: none;
  }
}

.btn-hover {
    
    color: #fff;
    cursor: pointer;
    margin: 20px;
    
    
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #2b2bc1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.fabtn-hover {
    
    color: #fff;
    cursor: pointer;      
    background-size: 300% 100%;
    
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #FFF295, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.fabtn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
/* form.searchform:hover .fa.searchfa,
form.searchform:valid .fa.searchfa{
    background: #F5B041 ;    
    color: white;
} */
form.searchform:hover .fa.searchfa,
form.searchform:valid .fa.searchfa{
    color: #fff;
    cursor: pointer;      
    background-size: 300% 100%;
    
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #FFF295, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
form.searchform:hover .fa.searchfa:hover,
form.searchform:valid .fa.searchfa:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;
}
.logodiv{
    background-image: url("logo_gradient.png");
    background-size: contain;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    position: relative;
    top: 8px;
    width:  33px;
    height: 33px;
}
.logoscritta{
    display: inline-block;
    line-height: 50px;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.logobuffering{

    width: 125px;
    height: 125px;
    background-image: url("logo.png");
    background-size: contain;
    position: fixed;
    left: 47.5%;
    top: 45%;
    
    animation: rotate 2s cubic-bezier(0.25, 0.1, 0.25, 0.6) infinite;
}

.blurredcontainer{
    width: 50vw;
    height: 50vh;
    position: fixed;
    bottom: 25vh;
    left: 25vw;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 7%, rgba(255,255,255,0) 30%);
    
}

