@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fas.fa-chevron-down{
  font-size: 0.7em;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.fas.fa-chevron-up{
  font-size: 0.7em;
  margin: 0 10px 0 10px;
  cursor: pointer;
}


.fa-1-5x {
font-size: 1em;
margin-left: 20px;
margin-right: 45px;
}
li.submenu a i.fa-1-5x {
  font-size: 0.5em;
  margin-left: 40px;  
  margin-right: 25px;
}
li.submenu a span {
  font-size: 15px;
}


.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
/* background:#2b2bc1; */
background: linear-gradient(180deg, rgba(43,43,193,1) 0%, rgba(0,212,255,1) 44%, #fe7aff 100%);  
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100vh;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .01s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}
.main-menu .logoarea img, .main-menu .logoarea h1, .main-menu .logoarea .searchbar{
    display: none;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
padding-top:10px;
padding-bottom:10px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#fff;
font-family: "Titillium Web", sans-serif;
font-size: 20px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: "Titillium Web", sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#2b2bc1;
/* background: linear-gradient(90deg, rgba(43,43,193,1) 0%, #2a2d5d 44%, rgb(0,0,0) 100%);   */
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}


.logoarea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 220px;
    cursor: pointer;
}

.main-menu:hover .logoarea img ,nav.main-menu.expanded .logoarea img,.main-menu:hover .logoarea h1 ,nav.main-menu.expanded .logoarea h1,.main-menu:hover .logoarea .searchbar ,nav.main-menu.expanded .logoarea .searchbar{
    display: block;
}
.main-menu:hover .logoarea img ,nav.main-menu.expanded .logoarea img{    
    width: 100px;
    margin: 15px;
}
.main-menu:hover .logoarea h1 ,nav.main-menu.expanded .logoarea h1{    
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;	
    margin-bottom: 0;
    margin-top: 0;
}
.main-menu:hover .logoarea .searchbar ,nav.main-menu.expanded .logoarea .searchbar{ 
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    width: 90%;
    height: 25px;
    text-align: center;
    color: #626262;
    border-radius: 12px;
    border: 0px;
    text-transform: uppercase;
    
    
}
.main-menu:hover .logoarea .searchbar::placeholder ,nav.main-menu.expanded .logoarea .searchbar::placeholder{ 
    
    font-size: 14px;
    font-style: italic;
    text-transform: none;
    
}
.assistantcontainer{
    position: fixed;
    right: 30px;
    bottom: 45px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 1000;

}
.assistantcontainer img{
    background-size: contain;
    max-width: 100%;
}

.dancing-image {
    animation: dance 3s infinite;
  }
  
  @keyframes dance {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(10deg) scale(1.05);
    }
    50% {
      transform: rotate(-10deg) scale(0.95);
    }
    75% {
      transform: rotate(10deg)  
   scale(1.1);
    }
    100% {
      transform: rotate(0deg)  
   scale(1);
    }
  }
