<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Med Data Hub - Edit mode</title>
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/Hj6yB77q/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/1XMhJmZg/login.png">
    <link rel="stylesheet" href="/css/modal_style.css">
    <link rel="stylesheet" href="/css/editable.css">
</head>
<body>
    <div class="navbarlite"><div class="logodiv" onclick="window.location.href='/app/home?section=products'"></div><div class="logoscritta" onclick="window.location.href='/app/'">Med Data Hub</div> </div>
    <div class="containertable">
        
        <img src="https://i.postimg.cc/DwP8n2Bn/copy.png" alt="" class="pastebutton" onclick="dumpBoms()">
        <img src="https://i.postimg.cc/8kh4z23y/add-button-1.png" alt="" class="addbutton" onclick="addNewLine()">
        <img src="https://i.postimg.cc/dVsMMKqW/diskette.png" alt="" class="savebutton" style="display: none;" onclick="saveBomsModifications()">
        <div class="row mx-2" >
            <div style="width: 100%; text-align: center;" class="titleh1"><h1>Bill of Materials</h1></div>
            
            <div class=" mx-auto" id="targettable">               

                
                
            </div>
        </div>

    </div>
</body>
<script src="/js/utils.js"></script>
<script src="/js/modals.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://kit.fontawesome.com/0221803f6d.js" crossorigin="anonymous"></script>
<script src="/js/edit_pages/edit_utils.js"></script>
<script src="/js/edit_pages/edit_boms.js"></script>
</html>