<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Change Password</title>
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/Hj6yB77q/favicon.png">
    
</head>
<body class="">
    

<div class="container mt-5 ">
    <div class="row">
        <div class="col-8 mx-auto mt-3">
            <h2>Change your current password</h2>
            
            <h2 style="font-weight: normal; font-size: medium;">Insert the code you received in your email to change your password</h2>
            <form id="changepwform">
                <div class="mb-3">
                  <label for="securityinput" class="form-label">Security Code:</label>
                  <input type="text" class="form-control" id="securityinput" name="securityinput" style="text-align: center;">
                </div>
                <div class="mb-3">
                    <label for="pw1input" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="pw1input" name="pw1input" style="text-align: center;">
                  </div>
                <div class="mb-5">
                    <label for="pw2input" class="form-label">Repeat Password:</label>
                    <input type="password" class="form-control" id="pw2input" name="pw2input" style=" text-align: center;">
                </div>
                <div class="errormessage invisible mb-2" id="pwerror">Passwords are not matching</div>

                <div class="mb-3" style="margin-top:25px;">
                    <button type="button" class="btn btn-primary btn-lg mx-auto"  id="submitnewdoc" onclick="validateform()">Submit New Password</button>
                </div>





              </form>
        </div>
    </div>
</div>



<script src="/js/modals.js"></script>
<script>
    function validateform(){
        const code=document.querySelector("#securityinput").value;
        const password1=document.querySelector("#pw1input").value;
        const password2=document.querySelector("#pw2input").value;
        const errorbox=document.querySelector(".errormessage");
        if(code=="" || password1=="" || password2==""){
            if(errorbox.classList.contains("invisible")) errorbox.classList.remove("invisible");
            errorbox.innerHTML="All fields are necessary";
            return;
        }
        else if(password1!=password2){
            if(errorbox.classList.contains("invisible")) errorbox.classList.remove("invisible");
            errorbox.innerHTML="Passwords are not matching";
            return;
        }
        if(!errorbox.classList.contains("invisible")) errorbox.classList.add("invisible");
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const userid = urlParams.get('i');
        let data={
        id: userid,
        security: code,
        password: password1,
        repeat: password2
        }
        fetch('/app/auth/changepassword', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => {
          if(!response.ok) throw new Error("Server refused to change password");
          createCustomAlert('Great!','Password changed successfully', 'ok');          
          window.location.replace("/app/home");


        })
        .catch(error => {
          createCustomAlert('Oops',"Something went wrong, I'm unable to change password", 'ok');         
        });

    }

</script>
</body>
</html>